.idea/
.nyc_output/
node_modules/
lib/
artifacts/
bundle.js
bundle.js.map
npm-debug.log
yarn-error.log

*.log

examples/browser-app/**
!examples/browser-app/package.json

examples/**/server/**
!examples/**/server/download.ts
tsconfig.tsbuildinfo
