.idea/
.nyc_output/
node_modules/
lib/
artifacts/
bundle.js
bundle.js.map
npm-debug.log
yarn-error.log

*.log

examples/browser-app/src-gen/
examples/browser-app/gen-webpack.config.js
examples/browser-app/gen-webpack.node.config.js

examples/**/server/**
!examples/**/server/download.ts
tsconfig.tsbuildinfo
eslint.xml
