.idea/
.nyc_output/
node_modules/
lib/
artifacts/
bundle.js
bundle.js.map
npm-debug.log
yarn-error.log
tsconfig.tsbuildinfo
*.log

examples/*-app/src-gen/
examples/*-app/gen-webpack.config.js
examples/*-app/gen-webpack.node.config.js
examples/**/server/**
!examples/**/server/download.ts

eslint_report.json
.browser_modules
