/* expand button */

#smart-connector-expand-button {
    background: var(--theia-titleBar-activeBackground);
    color: var(--theia-titleBar-activeForeground);
}

/* search bar */

.smart-connector-search {
    background: var(--theia-input-background);
    color: var(--theia-input-foreground);
    border: var(--theia-border-width) solid var(--theia-input-border);
    font-family: var(--theia-ui-font-family);
    font-size: var(--theia-ui-font-size1);
    line-height: var(--theia-content-line-height);
}

/* header */

.smart-connector-group-header {
    background: var(--theia-titleBar-activeBackground);
    color: var(--theia-titleBar-activeForeground);
}

.smart-connector-group-header:hover:not(.clicked) {
    background: var(--theia-menubar-selectionBackground);
}

/* single containers */

.smart-connector-group-container {
    background: var(--theia-menu-background);
    color: var(--theia-titleBar-activeForeground);
}

/* single item */

.smart-connector-button:hover:not(.clicked) {
    background: var(--theia-list-hoverBackground);
}
